#############
## Python
#############

*.py[co]
*.pkl
*.~*

# Packages
*.egg
*.egg-info
dist/
build/
eggs/
parts/
var/
sdist/
develop-eggs/
.installed.cfg
__pycache__/
test/__pycache__

# virtualenv
venv/

# Unit test / coverage reports
.coverage
.tox

# project specific
raspi/__pycache__/
raspi/doc/
raspi/pythonhosted.org/*.zip
